/* General Font Syling 
---------------------------------------------------------------------------------------------------- */

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/circles-light.png");
  padding-top: 130px;
}

h1, .navbar-brand {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  font-weight: bold;
}

h1 {
  color: #4aaaab;
}

h2 {
  font-size: 1.4em;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-top: 30px;
  font-weight: bold;
  color: #4aaaab;
}

.card-title {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

p {
  color: #777;
  font-size: 18px;
  line-height: 1.8em;
}

label { /*Form Labels*/
  color: #777;
  font-size: 18px;
}

/* Navbar Styling 
---------------------------------------------------------------------------------------------------- */

.navbar {
  border-bottom: 2px #ddd solid;
}

.navbar-brand {
  background-color: #4aaaab;
  padding: 21px 30px 21px 26px;
}

.logo, .footerText {
  color: #fff;
}

a.nav-link {
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
}

a:link, a:visited, a:active {
  color: #777;
}

a:hover {
  color: #4aaaa5;
}

/* Main Container Styling 
---------------------------------------------------------------------------------------------------- */

.container {
  max-width: 960px;
}

.contentContainer {
  border: 1px solid #ddd;
}

.contentContainer {
  margin-bottom: 30px;
}

h1 {
  margin-top: 40px;
}

hr {
  margin: 29px 0;
  height: 3px;
  background-color: #ddd;
  border: 0;
}

/* About Me Content Styling */

.bioPhoto {
  margin: 0 25px 0 0;
  float: left;
  max-width: 200px;
}

.img-thumbnail {
  padding: 0;
  border-radius: 0;
}

p:last-child {
  margin-bottom: 40px;
}

/* Contact Content Styling */

button.btn { /*Submit Button*/
  margin-bottom: 40px;
  background-color: #4aaaab;
  border-radius: 0;
  border-color: #4aaaab;
  width: 100px;
}

.connect {
  max-width: 266px;
}

.hr2 {
  height: 2px;
  background-color: #ddd;
  border: 0;
  margin: 21px 0 23px 0;
}

.socialMedia {
  max-width: 60px;
  margin-bottom: 40px;
  margin-right: 6px;
}

.socialMediaFix {
  margin-right: 0;
}

/* Portfolio Content Styling */

.card {
  margin-bottom: 40px;
  border-color: #ddd;
  border-radius: 0;
}

.card-img-overlay {
  background-color: #4aaaa5;
  margin: 50% 0 3% 0;
}

.card-img {
  border-radius: 0;
}

/* Sticky Footer Styling 
---------------------------------------------------------------------------------------------------- */

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .footer {
    font-size: 0.8em;
    border-top: 8px solid #4aaaab;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 68px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #777;
  }

  .footerContainer {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #777;
  }

/*
These rules take effect when the browser's width
is either 768px or less. Merely for cosmetic purposes.
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  
  /* Contact Page Connect Sidebar Alignment Correction */

  .connect {
    margin-left: 0 !important;
  }

}

/*
These rules take effect when the browser's width
is either 640px or less. Merely for cosmetic purposes.
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

  /* Hamburger Nav Styling Corrections */

  li.nav-item:first-child {
    padding-left: 0px; /*Corrects alignment issues of first child in hamburger mode*/
  }

  li.nav-item {
    border: none !important; /*Eliminates previous border styling on hamburger menu items*/
    padding: 8px 0 8px 26px !important; /*Aligns hamburger items correctly.*/
  }

  a.nav-link {
    border-left: 1px solid #ddd; /*Adds unified border styling on items in hamburger menu items*/
    padding-left: 16px !important; 
  }

  nav {
    padding: 0 !important; /*Eliminates white gap on left side of nav in mobile view*/
  }

  .navbar-brand { /*All of this corrects nav bar centering in mobile view*/
    padding: 21px 0 21px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}